header,
.headerTop,
.textLeft,
.textRight{
    background-color: #C0C0C0;
}


.textLeft{
    float: left;
    margin-top: -20px;
}

.textRight{
    float: right;
    margin-top: -20px;
    background-color: #C0C0C0;
}
.signIn{
    float: right;
    margin-right: 10px;
    margin-top: -20px;
}


.divDown{
    text-align: center;
    margin-top: 60px;
    background-color: #C0C0C0;
}

