@font-face{
    font-family: "Avenir"; 
    src: url("../assets/fonts/Avenir.ttc");
}

*{
    font-family: Avenir;
}

html{
    background-color: #C0C0C0;
}


.textLeft{
    float: left;
    margin-top: -110px;
    font-family: Avenir;
}

.textRight{
    float: right;
    margin-top: -110px;
    margin-right: 75px;
}
.signIn{
    float: right;
    margin-top: -110px;
    margin-right: 10px;
}

.textCenter1{
    text-align: center;
    margin-top: 120px;
    font-size: 350%;
}

.textCenter2{
    text-align: center;
    margin-top: 20px;
    font-size: 150%;
}

.started{
    position: relative;
    margin-left: 600px;
    margin-top: 100px;
}

.divTutors{
    text-align: center;
}
